{% extends "base.html" %} {% block content %}
{% load static %}
{% load cloudinary %}

<section class="content">
  <section class="post_form">
    <form action="/edit/{{tweet.id}}/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}


      <input type="text" name="name" value="{{tweet.name}}" required>
      
      <input type="text" name="body" value="{{tweet.body}}" required>


        <!-- <textarea name="body" name="Post here " value="{{tweet.body}}" required></textarea><br> -->
        <img src="{{tweet.image.url}}" />
        
        
        <input type="file" name='image'>

        <input type="submit" value="Tweet" >
     

    </form>
  </section>
  {% endblock %}
  </section>