{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
  <section class="post_form">
    <form action="/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Name" required />
      <textarea name="body" placeholder="Tell us anything" required></textarea>
      {{form.image}}
      <input type="submit" value="Tweet" />
    </form>
  </section>
  <section class="posts">
    <ul>
      {% for tweets in tweet %}
      <li>
        {% comment %}
        <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
        {% endcomment %}

        <div class="logo">
          <img src="{% static 'img/fatima.jpg' %}" />
        </div>
        <div class="name_body">
          <div class="name">{{ tweets.name}}</div>
          <div class="datetime">{{ tweets.created_at}}</div>
          <div class="heart">
            <p>{{ tweets.body }}</p>
            <img src="{{ tweets.image.url}}" style="width: 300px" />
            <div class="menu-options>
              <a href="/edit/{{tweets.id}}/">Edit</a>

              <a href="/delete/{{tweets.id}}/">Delete</a>
            </div>
            <div>
              <a href="/like/{{tweets.id}}/"
                ><img
                  src="{% static 'img/heart.png' %}"
                  width="45"
                  height="45"
                  align="left"
              /></a>
              {{tweets.like_count}}
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script>
    $(function () {
      //Executed when js-menu-icon js clicked
      $(".js-menu-icon").click(function () {
        //#(this) : Self element, namely div.js-menu-icon
        // next() : Next to div.js-menu-icon, namely div.menu
        //toggle() : Switch show and hide
        $(this).next().toggle();
      });
    });
  </script>

  <script src="{% static 'js/posts.js' %}"></script>
</section>
{% endblock %}
